name: Shellcheck

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-24.04
    name: Check tool

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run Shellcheck
        run: shellcheck -s bash src/apt-deb822-tool.bash
